.container{
   min-width: 320px;
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 15px;

  @media screen and (min-width: 1024px) {
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 0 45px 0 40px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0 15px;
  }
}

.inner {
 // max-width: 1150px;
  max-width: 1400px;
  padding: 0 125px;

  @media screen and (max-width: 1024px) {
    padding: 0;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {

  }
}



