body{
  font-family: Montserrat, "Arial", "Open Sans", "Verdana", sans-serif;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}

figure, ul, p, dl {
  margin: 0;
  padding: 0;
}

button{
  outline: 0;
}
