.about {
  margin-bottom: 110px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title-mobile {
    display: none;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: block;
      font-weight: 700;
      font-size: 40px;
    }
  }
  &__text {
    margin-top: 70px;
    position: relative;
    max-width: 550px;

    @media screen and (max-width: 1024px) {

    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 30px;
    }


    &::before {
      position: absolute;
      content: "";
      background: url("../img/lg-transformator-skobka.png") no-repeat center;
      width: 95px;
      height: 80px;
      top: -103px;
      left: -86px;

      @media screen and (max-width: 1024px) {
        top: -17px;
        left: -36px;
        opacity: 0.2;
      }

      @media screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
      }

    }

    @media screen and (max-width: 1024px) {
      max-width: 465px;
    }
    .about__text-item {
      margin-bottom: 20px;
      max-width: 550px;
      font-size: 12px;
      font-weight: 400;
      line-height: 25px;

      @media screen and (min-width: 320px) and (max-width: 767px) {
        line-height: 20px;
      }
    }
  }

  .about-author {
    margin-left: auto;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }
  //  overflow: hidden;
    &__name {
      margin-bottom: 15px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
    }
    &__position {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }

    &__img {
      margin-bottom: 45px;

      @media screen and (min-width: 320px) and (max-width: 767px) {

        max-width: 100%;
        height: auto;
      }
    }
  }
}
