.description {
  margin-left: 100px;
  margin-bottom: 380px;
  font-size: 14px;
  font-weight: 400;
  //line-height: 20px;
  max-width: 275px;
  line-height:1.5;

  @media screen and (max-width: 1024px) {
    position: relative;
    top: -180px;
    left: -100px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: -230px;
    font-size: 12px;
    max-width:auto;
    width:275px;

  }
}
