.feedback {
  position: relative;
  z-index: 10;
  margin-top: -579px;
  margin-bottom: 70px;
  min-height: 760px;
  background: url("../img/lg-transformator-mans.png") no-repeat center 1%;

  @media screen and (max-width: 1024px) {
    background: url("../img/lg-transformator-mans-768.png") no-repeat center 1%;
    margin-top: -518px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background: none;
  }

  .feedback__mobile {
    display: none;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
      flex-direction: column;

      .feedback-item__wrapper  {
        padding: 0 15px;
      }

      .feedback-item--mobile {
        display: flex;
        flex-direction: column;
        //align-items: center;
        justify-content: center;

        .feedback-item__name {
          margin-bottom: 15px;
          font-size: 20px;
          font-weight: 700;
        }

        .feedback-item__position,
        .feedback-item__comment {
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      .feedback-item--mobile-left {
        text-align: left;
        min-height: 570px;
        background:url("../img/lg-transformator--portnyagin.png") no-repeat calc(100% + 100px);

        .feedback-item__name,
        .feedback-item__position,
        .feedback-item__comment {
          max-width: 60%;
        }
      }
      .feedback-item--mobile-right {

        //display: flex;
        //flex-direction: column;
        //align-items: ;
        min-height: 520px;
        text-align: right;
        background:url("../img/lg-transformator--pak.png") no-repeat -145px;

        .feedback-item__wrapper {
          margin-top: 10px;
          margin-left: 70px;
        }
        .feedback-item__name {
          //  max-width: 125px;
        }
        .feedback-item__position,
        .feedback-item__comment {
          //     max-width: 215px;
        }
      }
    }
  }

  .feedback-wrapper {
    min-height: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      min-height: 735px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      //  flex-direction: column;
      display: none;
    }


    .feedback-item {
      margin-top: 190px;
      z-index: 2;

      &__name {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 700;
      }

      &__position {
        margin-bottom: 40px;
      }

      &__position, &__comment {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;


        @media screen and (min-width: 320px) and (max-width: 767px) {
          font-size: 12px;
        }
      }

      &--left {
        position: relative;

        @media screen and (min-width: 320px) and (max-width: 767px) {
          min-height: 570px;
        }

        .feedback-item__name,
        .feedback-item__position,
        .feedback-item__comment {
          position: relative;
          max-width: 255px;
          text-align: left;
          z-index: 5;

          @media screen and (max-width: 1024px ) {
            max-width: 190px;
          }
        }
      }

      &--right {
        position: relative;

        .feedback-item__name,
        .feedback-item__position,
        .feedback-item__comment {
          position: relative;
          z-index: 5;
          max-width: 255px;
          text-align: right;

          @media screen and (max-width: 1024px ) {
            max-width:250px;
          }
          @media screen and (min-width:320px) and (max-width:767px){
            max-width: 190px;
          }
        }
      }
    }
  }
}
