.history-slider{
  &__item{
    padding-bottom:60px;
  }

}

.history {
  margin-bottom: 110px;

  &__slider{
    max-width:560px;
  }



  &__wrapper {
    display: flex;
    justify-content: space-between;
    overflow:hidden;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
    }

    .history-block {
      &__title {
        margin-bottom: 145px;
        max-width: 355px;
        font-size: 70px;
        font-weight: 700;
        line-height: 70px;


        @media screen and (orientation: portrait) and (max-width: 1024px ) {
          font-size: 40px;
        }

        @media screen and (max-width: 1024px) {
          font-size: 60px;
        }

        @media screen and (min-width: 320px) and (max-width: 767px) {
          font-size: 40px;
        }
      }

      &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
      }

      &--left {

        .history-block__title {
          @media screen and (min-width: 320px) and (max-width: 767px) {
            margin-bottom: 55px;
            font-size: 40px;
            line-height: 1.2em;
          }
        }

        .history-block__text {
          max-width: 275px;

          @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
          }
        }



        .history-block__text-marked {
          background-color: #dca84a;
          color: #000;
        }
      }

      &--right {
        position: relative;

        &::before {
          position: absolute;
          content: url("../img/lg-transformator--shield.png");
          top: -82px;
          left: -61px;
          width: 123px;
          height: 149px;
          z-index: 10;

          @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
          }
        }
        .history-block__text--mobile {
          display: none;

          @media screen and (min-width: 320px) and (max-width: 767px) {

            display: block;
            margin-top: 20px;
            font-size: 12px;
            font-weight: 400;
            line-height: 25px;

            .history-block__text-mob-marked {
              background-color: #dca84a;
              color: #000;
            }
          }
        }

        .block-wrapper {
          box-sizing: border-box;
          max-width: 460px;
          padding: 35px 85px 95px 80px;
          position:relative;

          &:before{
            background:#242526 url("../img/lg-transformator--background-grayvscard.png") no-repeat center 100%;
            position:absolute;
            content:'';
            left:0;
            top:0;
            bottom:0;
            right:0;
            z-index:1;
          }

          @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 100%;
            margin: 0 -15px;
            padding: 80px 25px 30px 35px;
          }

          .history-block__title {
            margin-bottom: 80px;
            position: relative;
            font-size: 40px;
            font-weight: 700;
            line-height: 45px;

            &::before {
              @include pseudo();
              top: 55px;
              left: 0;
              width: 105px;
              height: 4px;
              background-color: #ffffff;
            }

            &::after {
              @include pseudo();
              top: 55px;
              left: 0;
              width: 145px;
              height: 4px;
              background-color: #ffffff;
              opacity: 0.1;
            }
          }

          &__content{
            position:relative;
            z-index:2;
          }
          &__img{
            position:absolute;
            left:0;
            right:-60px;
            bottom:-30px;
            height:236px;
            background:rgba(0, 0, 0, 0.5) no-repeat center/cover;

            &_back{
              bottom:-60px;
              right:-100px;
            }

          }

        }
      }
    }
  }
}
