.main-header {
  background:url("../img/lg-transformator-suit3.jpg") no-repeat center -15%;
 // background-size: cover; только для декстопной версии
  min-height: 1160px;

  @media screen and (max-width: 1024px) {
    min-height: 1060px;
    background:url("../img/lg-transformator-suit3.jpg") no-repeat center top;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    min-height: 680px;
    background-size:cover;
    &::before{
      content:'';
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      background:rgba(0, 0, 0, 0.5);
    }
    .container{
      position:relative;
      z-index:1;
    }
  }
}
