.offer {

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 17px;
    color: #000;
    width: 100%;

    background: #daa649 url("../img/lg-transformator--background-btn.png") repeat-x;
    border-radius: 5px;


  }
    &__text {
      text-align: center;

    }
    &__btn {
      margin-left: 60px;
      padding: 8px 24px;
      background: #000;
      color: #d4a247;
      border: none;
      border-radius: 4px;
      cursor:pointer;
      @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-left: 0;
        margin-top: 10px;
      }

    }
  }

