.our-work-slider{
  &__item{
    padding-right:80px;
    @media screen and (min-width:320px) and (max-width:767px){
      padding-right:0;
      padding-top:130px;
    }
  }
  &__img{
    height:620px;
    background:rgba(255, 255, 255, 0.05) no-repeat center/cover;
    @media screen and (min-width:320px) and (max-width:767px){
      height:300px;
    }
  }
  &__text{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    margin-top:-150px;
    padding-bottom:10px;

    @media screen and (min-width:320px) and (max-width:767px){
      flex-direction:column;
    }
  }

  margin-bottom:100px;
}

.our-work {
  margin-bottom: 120px;

  &__slider{
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__title {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    // line-height: 45px;

    @media screen and (orientation:portrait) and (max-width:1024px){
      position:absolute;
      top:0;
      left:0;
      right:0;
    }

    &::before {
      @include pseudo();
      top: 55px;
      left: 0;
      width: 240px;
      height: 4px;
      background-color: #ffffff;

      @media screen and (orientation: portrait) and (max-width: 1024px ) {
         top: 105px;
        width: 181px;

      }
    }

    &::after {
      @include pseudo();
      top: 55px;
      left: 0;
      width: 345px;
      height: 4px;
      background-color: #ffffff;
      opacity: 0.1;

      @media screen and (orientation: portrait) and (max-width: 1024px ) {
        top: 105px;
        width: 240px;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 40px;
    }
  }
  .our-work-description {

    box-sizing: border-box;
    padding: 50px 65px;
    width:43%;
    color: #000;
    background-color: #ffffff;
    line-height:1.5;
    margin-right:-80px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      padding: 15px;
      margin: 0 -15px;
    }


    &__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom:35px;
    }

    &__text {
      @media screen and (min-width: 320px) and (max-width: 767px) {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
