.problems {
  margin-bottom: 140px;


  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 80px;
    background: url("../img/lg-transformator--figure-in-feedback.svg") no-repeat 47%;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    margin-bottom: 60px;
    margin-left: 250px;
    font-size: 90px;
    font-weight: 700;

    @media screen and (min-width:1500px){
      white-space:nowrap;
    }

    @media screen and (max-width: 1024px) {

      //   margin-bottom: 60px;
      margin-left: 101px;
      font-size: 60px;
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
      margin-bottom: 35px;
      margin-left: 0;
      font-size: 36px;

    }
  }

  &__block-text {
    position: relative;

    &::before {
      @include pseudo();
      width: 1px;
      height: 219px;
      top: 115px;
      left: -112px;
      background-color: #fff;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    &::after {
      @include pseudo();
      width: 1px;
      height: 219px;
      top: 115px;
      right: -102px;
      background-color: #fff;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
  &__text {
    margin-bottom: 20px;
    max-width: 655px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    @media screen and (max-width: 1024px) {
      max-width: 725px;
    }
  }
}

