.slick-slider{
  .slick-arrow{
    transform:none;
    position:absolute;
    top:0;
    right:0;
    left:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    width:70px;
    height:55px;
    background:rgba(255, 255, 255, 0.05);
    transition:all .3s linear;
    z-index:2;
    &:hover{
      background:#dca84a;
    }
    text-align:center;
    svg{
      fill:white;
      width:9px;
      height:17px;
    }

    &.slick-prev{
      top:56px;
    }
  }
  .slick-arrow:before{
    display:none;
  }

}