.success {

  min-height: 820px;
  background: url("../img/lg-transformator--success.png") center no-repeat;

  @media screen and (max-width: 1024px) {
    background: url("../img/lg-transformator--success.png") center no-repeat;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 20px;
    min-height: 620px;
    background: url("../img/lg-transformator--history-mobile.png") top no-repeat;
  }


  &__wrapper {
    display: flex;
  }
  .our-success {
    margin-left: auto;

    &__title {
      margin-bottom: 100px;
      position: relative;
      max-width: 555px;
      font-size: 70px;
      font-weight: 700;

      @media screen and (max-width: 1024px) {
        margin-bottom: 90px;
        max-width: 350px;
      }

      @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-top: 30px;
        margin-bottom: 35px;
        font-size: 36px;
      }
    }
    &__text {
      margin-bottom: 20px;
      max-width: 555px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      @media screen and (max-width: 1024px) {
        max-width: 370px;
      }
    }
  }
}
