.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 225px;
  margin-bottom: 135px;


  @media screen and (max-width: 1024px ) {
    padding-top: 130px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 70px;
  }

  .title-text {
    max-width: 655px;
    font-size: 50px;
    font-weight: 700;

    @media screen and (min-width: 320px) and (max-width: 767px) {
     font-size: 24px;
    }
  }

  .title-indicators {
    position: relative ;

    @media screen and (max-width: 1024px ) {
      top: 350px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
      top: 200px;
    }

    &__item {
      margin-bottom: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }

    .item-number {
      margin-right: 30px;
      color: #dca84a;
      font-size: 50px;
      font-weight: 700;

      &__percent {

        margin-left: -10px;
        font-size: 20px;
        font-weight: 700;
      }
      &__small-text {
        margin-bottom: 7px;
        font-size: 10px;
        font-weight: 700;
      }
      &__big {
        margin-top: -15px;
        margin-bottom: 0;
        font-size: 50px;
        font-weight: 700;
      }
    }

    .item-text {
      max-width: 115px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
