@charset "UTF-8";
.container {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 45px 0 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.inner {
  max-width: 1400px;
  padding: 0 125px;
}

@media screen and (max-width: 1024px) {
  .inner {
    padding: 0;
  }
}

/* Размеры шрифта */
/* Цвета */
/* Размеры экрана */
body {
  font-family: Montserrat, "Arial", "Open Sans", "Verdana", sans-serif;
  margin: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

figure, ul, p, dl {
  margin: 0;
  padding: 0;
}

button {
  outline: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.about {
  margin-bottom: 110px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    margin-bottom: 40px;
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__title-mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__title-mobile {
    display: block;
    font-weight: 700;
    font-size: 40px;
  }
}

.about__text {
  margin-top: 70px;
  position: relative;
  max-width: 550px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text {
    margin-top: 30px;
  }
}

.about__text::before {
  position: absolute;
  content: "";
  background: url("../img/lg-transformator-skobka.png") no-repeat center;
  width: 95px;
  height: 80px;
  top: -103px;
  left: -86px;
}

@media screen and (max-width: 1024px) {
  .about__text::before {
    top: -17px;
    left: -36px;
    opacity: 0.2;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text::before {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .about__text {
    max-width: 465px;
  }
}

.about__text .about__text-item {
  margin-bottom: 20px;
  max-width: 550px;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text .about__text-item {
    line-height: 20px;
  }
}

.about .about-author {
  margin-left: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about .about-author {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .about-author__name {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.about .about-author__position {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.about .about-author__img {
  margin-bottom: 45px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about .about-author__img {
    max-width: 100%;
    height: auto;
  }
}

#d-content {
  background: #18191a;
}

.description {
  margin-left: 100px;
  margin-bottom: 380px;
  font-size: 14px;
  font-weight: 400;
  max-width: 275px;
  line-height: 1.5;
}

@media screen and (max-width: 1024px) {
  .description {
    position: relative;
    top: -180px;
    left: -100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .description {
    top: -230px;
    font-size: 12px;
    max-width: auto;
    width: 275px;
  }
}

.feedback {
  position: relative;
  z-index: 10;
  margin-top: -579px;
  margin-bottom: 70px;
  min-height: 760px;
  background: url("../img/lg-transformator-mans.png") no-repeat center 1%;
}

@media screen and (max-width: 1024px) {
  .feedback {
    background: url("../img/lg-transformator-mans-768.png") no-repeat center 1%;
    margin-top: -518px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .feedback {
    background: none;
  }
}

.feedback .feedback__mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .feedback .feedback__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback .feedback__mobile .feedback-item__wrapper {
    padding: 0 15px;
  }
  .feedback .feedback__mobile .feedback-item--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feedback .feedback__mobile .feedback-item--mobile .feedback-item__name {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .feedback .feedback__mobile .feedback-item--mobile .feedback-item__position,
  .feedback .feedback__mobile .feedback-item--mobile .feedback-item__comment {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .feedback .feedback__mobile .feedback-item--mobile-left {
    text-align: left;
    min-height: 570px;
    background: url("../img/lg-transformator--portnyagin.png") no-repeat calc(100% + 100px);
  }
  .feedback .feedback__mobile .feedback-item--mobile-left .feedback-item__name,
  .feedback .feedback__mobile .feedback-item--mobile-left .feedback-item__position,
  .feedback .feedback__mobile .feedback-item--mobile-left .feedback-item__comment {
    max-width: 60%;
  }
  .feedback .feedback__mobile .feedback-item--mobile-right {
    min-height: 520px;
    text-align: right;
    background: url("../img/lg-transformator--pak.png") no-repeat -145px;
  }
  .feedback .feedback__mobile .feedback-item--mobile-right .feedback-item__wrapper {
    margin-top: 10px;
    margin-left: 70px;
  }
}

.feedback .feedback-wrapper {
  min-height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .feedback .feedback-wrapper {
    min-height: 735px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .feedback .feedback-wrapper {
    display: none;
  }
}

.feedback .feedback-wrapper .feedback-item {
  margin-top: 190px;
  z-index: 2;
}

.feedback .feedback-wrapper .feedback-item__name {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
}

.feedback .feedback-wrapper .feedback-item__position {
  margin-bottom: 40px;
}

.feedback .feedback-wrapper .feedback-item__position, .feedback .feedback-wrapper .feedback-item__comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .feedback .feedback-wrapper .feedback-item__position, .feedback .feedback-wrapper .feedback-item__comment {
    font-size: 12px;
  }
}

.feedback .feedback-wrapper .feedback-item--left {
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .feedback .feedback-wrapper .feedback-item--left {
    min-height: 570px;
  }
}

.feedback .feedback-wrapper .feedback-item--left .feedback-item__name,
.feedback .feedback-wrapper .feedback-item--left .feedback-item__position,
.feedback .feedback-wrapper .feedback-item--left .feedback-item__comment {
  position: relative;
  max-width: 255px;
  text-align: left;
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  .feedback .feedback-wrapper .feedback-item--left .feedback-item__name,
  .feedback .feedback-wrapper .feedback-item--left .feedback-item__position,
  .feedback .feedback-wrapper .feedback-item--left .feedback-item__comment {
    max-width: 190px;
  }
}

.feedback .feedback-wrapper .feedback-item--right {
  position: relative;
}

.feedback .feedback-wrapper .feedback-item--right .feedback-item__name,
.feedback .feedback-wrapper .feedback-item--right .feedback-item__position,
.feedback .feedback-wrapper .feedback-item--right .feedback-item__comment {
  position: relative;
  z-index: 5;
  max-width: 255px;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .feedback .feedback-wrapper .feedback-item--right .feedback-item__name,
  .feedback .feedback-wrapper .feedback-item--right .feedback-item__position,
  .feedback .feedback-wrapper .feedback-item--right .feedback-item__comment {
    max-width: 250px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .feedback .feedback-wrapper .feedback-item--right .feedback-item__name,
  .feedback .feedback-wrapper .feedback-item--right .feedback-item__position,
  .feedback .feedback-wrapper .feedback-item--right .feedback-item__comment {
    max-width: 190px;
  }
}

.history-slider__item {
  padding-bottom: 60px;
}

.history {
  margin-bottom: 110px;
}

.history__slider {
  max-width: 560px;
}

.history__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.history__wrapper .history-block__title {
  margin-bottom: 145px;
  max-width: 355px;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .history__wrapper .history-block__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .history__wrapper .history-block__title {
    font-size: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper .history-block__title {
    font-size: 40px;
  }
}

.history__wrapper .history-block__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper .history-block--left .history-block__title {
    margin-bottom: 55px;
    font-size: 40px;
    line-height: 1.2em;
  }
}

.history__wrapper .history-block--left .history-block__text {
  max-width: 275px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper .history-block--left .history-block__text {
    display: none;
  }
}

.history__wrapper .history-block--left .history-block__text-marked {
  background-color: #dca84a;
  color: #000;
}

.history__wrapper .history-block--right {
  position: relative;
}

.history__wrapper .history-block--right::before {
  position: absolute;
  content: url("../img/lg-transformator--shield.png");
  top: -82px;
  left: -61px;
  width: 123px;
  height: 149px;
  z-index: 10;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper .history-block--right::before {
    display: none;
  }
}

.history__wrapper .history-block--right .history-block__text--mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper .history-block--right .history-block__text--mobile {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
  }
  .history__wrapper .history-block--right .history-block__text--mobile .history-block__text-mob-marked {
    background-color: #dca84a;
    color: #000;
  }
}

.history__wrapper .history-block--right .block-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 460px;
  padding: 35px 85px 95px 80px;
  position: relative;
}

.history__wrapper .history-block--right .block-wrapper:before {
  background: #242526 url("../img/lg-transformator--background-grayvscard.png") no-repeat center 100%;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .history__wrapper .history-block--right .block-wrapper {
    width: 100%;
    margin: 0 -15px;
    padding: 80px 25px 30px 35px;
  }
}

.history__wrapper .history-block--right .block-wrapper .history-block__title {
  margin-bottom: 80px;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}

.history__wrapper .history-block--right .block-wrapper .history-block__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
  width: 105px;
  height: 4px;
  background-color: #ffffff;
}

.history__wrapper .history-block--right .block-wrapper .history-block__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
  width: 145px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.1;
}

.history__wrapper .history-block--right .block-wrapper__content {
  position: relative;
  z-index: 2;
}

.history__wrapper .history-block--right .block-wrapper__img {
  position: absolute;
  left: 0;
  right: -60px;
  bottom: -30px;
  height: 236px;
  background: rgba(0, 0, 0, 0.5) no-repeat center/cover;
}

.history__wrapper .history-block--right .block-wrapper__img_back {
  bottom: -60px;
  right: -100px;
}

.lg-transformator {
  padding-bottom: 75px;
  color: white;
  overflow: hidden;
}

.main-header {
  background: url("../img/lg-transformator-suit3.jpg") no-repeat center -15%;
  min-height: 1160px;
}

@media screen and (max-width: 1024px) {
  .main-header {
    min-height: 1060px;
    background: url("../img/lg-transformator-suit3.jpg") no-repeat center top;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-header {
    min-height: 680px;
    background-size: cover;
  }
  .main-header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .main-header .container {
    position: relative;
    z-index: 1;
  }
}

.offer__wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px;
  color: #000;
  width: 100%;
  background: #daa649 url("../img/lg-transformator--background-btn.png") repeat-x;
  border-radius: 5px;
}

.offer__text {
  text-align: center;
}

.offer__btn {
  margin-left: 60px;
  padding: 8px 24px;
  background: #000;
  color: #d4a247;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .offer__btn {
    margin-left: 0;
    margin-top: 10px;
  }
}

.our-work-slider {
  margin-bottom: 100px;
}

.our-work-slider__item {
  padding-right: 80px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work-slider__item {
    padding-right: 0;
    padding-top: 130px;
  }
}

.our-work-slider__img {
  height: 620px;
  background: rgba(255, 255, 255, 0.05) no-repeat center/cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work-slider__img {
    height: 300px;
  }
}

.our-work-slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -150px;
  padding-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work-slider__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-work {
  margin-bottom: 120px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work {
    margin-bottom: 0;
  }
}

.our-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-work__title {
  position: relative;
  font-size: 40px;
  font-weight: 700;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .our-work__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.our-work__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
  width: 240px;
  height: 4px;
  background-color: #ffffff;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .our-work__title::before {
    top: 105px;
    width: 181px;
  }
}

.our-work__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
  width: 345px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.1;
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .our-work__title::after {
    top: 105px;
    width: 240px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work__title {
    font-size: 40px;
  }
}

.our-work .our-work-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 65px;
  width: 43%;
  color: #000;
  background-color: #ffffff;
  line-height: 1.5;
  margin-right: -80px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work .our-work-description {
    width: 100%;
    padding: 15px;
    margin: 0 -15px;
  }
}

.our-work .our-work-description__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-work .our-work-description__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}

.problems {
  margin-bottom: 140px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .problems {
    margin-bottom: 80px;
    background: url("../img/lg-transformator--figure-in-feedback.svg") no-repeat 47%;
  }
}

.problems__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.problems__title {
  margin-bottom: 60px;
  margin-left: 250px;
  font-size: 90px;
  font-weight: 700;
}

@media screen and (min-width: 1500px) {
  .problems__title {
    white-space: nowrap;
  }
}

@media screen and (max-width: 1024px) {
  .problems__title {
    margin-left: 101px;
    font-size: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .problems__title {
    margin-bottom: 35px;
    margin-left: 0;
    font-size: 36px;
  }
}

.problems__block-text {
  position: relative;
}

.problems__block-text::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 219px;
  top: 115px;
  left: -112px;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .problems__block-text::before {
    display: none;
  }
}

.problems__block-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 219px;
  top: 115px;
  right: -102px;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .problems__block-text::after {
    display: none;
  }
}

.problems__text {
  margin-bottom: 20px;
  max-width: 655px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .problems__text {
    max-width: 725px;
  }
}

.slick-slider .slick-arrow {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 55px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 2;
  text-align: center;
}

.slick-slider .slick-arrow:hover {
  background: #dca84a;
}

.slick-slider .slick-arrow svg {
  fill: white;
  width: 9px;
  height: 17px;
}

.slick-slider .slick-arrow.slick-prev {
  top: 56px;
}

.slick-slider .slick-arrow:before {
  display: none;
}

.success {
  min-height: 820px;
  background: url("../img/lg-transformator--success.png") center no-repeat;
}

@media screen and (max-width: 1024px) {
  .success {
    background: url("../img/lg-transformator--success.png") center no-repeat;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .success {
    margin-bottom: 20px;
    min-height: 620px;
    background: url("../img/lg-transformator--history-mobile.png") top no-repeat;
  }
}

.success__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.success .our-success {
  margin-left: auto;
}

.success .our-success__title {
  margin-bottom: 100px;
  position: relative;
  max-width: 555px;
  font-size: 70px;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .success .our-success__title {
    margin-bottom: 90px;
    max-width: 350px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .success .our-success__title {
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 36px;
  }
}

.success .our-success__text {
  margin-bottom: 20px;
  max-width: 555px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .success .our-success__text {
    max-width: 370px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 225px;
  margin-bottom: 135px;
}

@media screen and (max-width: 1024px) {
  .title {
    padding-top: 130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title {
    padding-top: 70px;
  }
}

.title .title-text {
  max-width: 655px;
  font-size: 50px;
  font-weight: 700;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title .title-text {
    font-size: 24px;
  }
}

.title .title-indicators {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .title .title-indicators {
    top: 350px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title .title-indicators {
    top: 200px;
  }
}

.title .title-indicators__item {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title .title-indicators__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .title .title-indicators__item {
    margin-bottom: 10px;
  }
}

.title .title-indicators .item-number {
  margin-right: 30px;
  color: #dca84a;
  font-size: 50px;
  font-weight: 700;
}

.title .title-indicators .item-number__percent {
  margin-left: -10px;
  font-size: 20px;
  font-weight: 700;
}

.title .title-indicators .item-number__small-text {
  margin-bottom: 7px;
  font-size: 10px;
  font-weight: 700;
}

.title .title-indicators .item-number__big {
  margin-top: -15px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 700;
}

.title .title-indicators .item-text {
  max-width: 115px;
  font-size: 14px;
  font-weight: 400;
}

/* ============= */
